#final_footer {
    height: 150px;
    color: lightgray;
    background-color: black;
    margin-top: 50px;
    /* line-height: 20px; */
    text-align: center;
}

#final_footer p {
    padding: 50px 0;
}


.col-md-4 {
    margin: auto;
}

td:first-child {
    border-left: 1px solid white;
}

td:last-child {
    border-right: 1px solid white;
}

table td {
    border-top: 0 dotted !important;
    text-align: center;
    padding: 0.75rem 0.75rem;
    color:white;
    /*padding-right: -5px;*/
    position: relative;
}

.rood {
    background-color: #28a745;
}

.invisible {
    display: none;
}
.modal-content{
    background-color: #252525;
    text-decoration-color: #b7b7b7;
}

.modal-header{
    border-bottom-color: black;
}
.modal-footer{
    border-top-color: black;
}

h1{
    text-align: center;
}

body{
    background-color: black;
    color:white;
}

/*table {*/
/*    border-collapse: collapse;*/
/*}*/

/*td {*/
/*    position: relative;*/
/*    !*padding: 5px 10px;*!*/
/*}*/

/*tr.strikeout td:before {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    border-bottom: 1px solid #28a745;*/
/*    width: 100%;*/
/*}*/
.vertical-line{
    width:0px;
    z-index:10011;
    border-right: 1px solid #28a745;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
}
.horizontal-line{
    height:0px;
    z-index:100121;
    border-bottom: 1px solid #28a745;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
/*tr.strikeout td:before {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    border-bottom: 1px solid #28a745;*/
/*    width: 100%;*/
/*}*/

/*tr.strikeout td:after {*/
/*    !*content: "\00B7";*!*/
/*    !*font-size: 1px;*!*/
/*}*/
