#final_footer {
    height: 65px;/*kleiner gemaakt omdat er soms overlap is met de exit/next/hint knoppen, was 150px en padding  van final_footer p was 50*/
    color: lightgray;
    background-color: black;
    /* line-height: 20px; */
    text-align: center;
    bottom:0;
    position: fixed;
    width: 100%;
    margin-top: 1%;

}
.margin-bottom{
    margin-bottom: 150px;
}

#final_footer p {
    padding: 10px 0;
}

/*
.col-md-4 {
    margin: auto;
}*/

td:first-child {
    border-left: 3px solid white;
}

td:last-child {
    border-right: 3px solid white;
}

table td {
    border-top: 0 dotted !important;
    text-align: center;
    padding: 0.75rem 0.75rem;
    color:white;
    /*padding-right: -5px;*/
    position: relative;
}

.rood {
    background-color: #28a745;
}

.invisible {
    display: none;
}
.modal-content{
    background-color: #252525;
    text-decoration-color: #b7b7b7;
}

.modal-header{
    border-bottom-color: black;
}
.modal-footer{
    border-top-color: black;

}

h1{
    text-align: center;
}

body{
    background-color: black;
    color:white;
}

/*table {*/
/*    border-collapse: collapse;*/
/*}*/

/*td {*/
/*    position: relative;*/
/*    !*padding: 5px 10px;*!*/
/*}*/

/*tr.strikeout td:before {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    border-bottom: 1px solid #28a745;*/
/*    width: 100%;*/
/*}*/

.vertical-line{
    width:0px;
    z-index:10011;
    border-right: 1px solid #28a745;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
}
.horizontal-line{
    height:0px;
    z-index:100121;
    border-bottom: 1px solid #28a745;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
/*tr.strikeout td:before {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    border-bottom: 1px solid #28a745;*/
/*    width: 100%;*/
/*}*/

/*tr.strikeout td:after {*/
/*    !*content: "\00B7";*!*/
/*    !*font-size: 1px;*!*/
/*}*/

.uitleg{
    height: 15em;
}

.matrix_cell{
    width:2rem;
}

.u-center{
    margin: 0 auto;
}

#mainPage{
    margin-right:auto;
}
.left{
    margin-left: auto;
}
.inline{
    display: inline-grid;
}

#popovercontent{
    display:none
}

th{
    color: white;
    border: 0px solid black!important;
}
/*
.col-md-7{
    font-size: x-large;
    margin-left: 5%;

}
.col-md-3{
    margin-top: 2%;
    font-size: x-large;
    margin-bottom: 5%;
    margin-right: 2%;


}
.col-md-11{
    font-size: x-large;
}*/

section{
    margin-top: 5%;
}
#frm{
    font-size: x-large;
    margin-bottom: 30%;
}
.form-control{
    display: inline-block;
    width: auto;
}
.popover{
    max-width: none;
}
.popover td{
    color:black;
}
.popover  td:first-child {
    border-left: 1px solid black;
}

.popover  td:last-child {
    border-right: 1px solid black;
}

.mt_6em{
    margin-top: 6em;

}
/*
.col-md-4{
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.col-md-2{
    font-size: x-large;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 5%;

}
.col-md-1{
    font-size: x-large;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
}*/

#tabel_m3{
    margin-left: 25%;
}
#tabel_m2{
    margin-left: 5%;
    margin-right: 5%;
}


#fouttekst{
    display:none;
    color: red;
}

#formcontent{
    height: 5rem
}

#kleur{
    color: #26b71e;
}
#kleur2{
    color: #464eb7;
}
#kleur3{
    color: #b74040;
}
p span :last-child{
    color: greenyellow;
}
#opl{
    margin-bottom: 5%;
}
.form-check {
    position: center;
}
